
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    
    
}
.h1{
    font-weight: 7rem;
    color: black;
}
.h2{
 font-weight: 7rem;
 color: rgb(5, 63, 66);
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    flex-direction: column;
    /* add a css animation */
    background-color: #0f172a; /* slate-950 */
    position: relative;
    width: 100%;
    height: 100%;
   
}
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: 
      linear-gradient(to right, rgba(79, 79, 79, 0.18) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(79, 79, 79, 0.18) 1px, transparent 1px);
    background-size: 14px 24px;
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-direction: column;
}
  
 .card{
    padding:20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border:1px solid black;
    border-radius: 2rem;
    height: 10vh;
    width: 100vh;
    box-shadow: 0 4px 8px 0 rgba(182, 157, 218, 0.2), 0 6px 20px 0 rgba(135, 106, 189, 0.19);
} 
button {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    color: #FFF;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    min-width: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#bt1{
    background-color: red;
}
#bt2{
    background-color:blue;
}
#bt3{
    background-color:green;
}
#bt4{
    background-color: yellow;
}
#bt5{
    background-color:pink;
}
#colorPicker{
 
    border: none;
    border-radius: 8px;
    color: #FFF;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    min-width: 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(52, 152, 219, 0.4);
}

button:active {
    transform: translateY(0);
    box-shadow: none;
}
